<div class="flex flex-row flex-wrap w-full gap-12 px-8 justify-center">
    <div class="text-center shadow-md rounded px-8 prose prose-lg" style="background-color: var(--light-blue);">
        <h2>Page Not Found</h2>
        <p>Paimon ate the code for this page. She started with small styles, margin and padding.
            She then went to the HTML elements. Eventually, there was nothing left but an empty div.
        </p>
        <a href="#" routerLink="/home">Return to home</a>
    </div>
</div>