<!-- This example requires Tailwind CSS v2.0+ -->
<nav class="sticky top-0 z-50 w-full" style="background-color: rgba(17,17,17,0.75)">
    <div class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
        <div class="relative flex items-center justify-between h-16">
            <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-start">
                <div class="flex-shrink-0 flex items-center">
                    <img class="block lg:hidden h-8 w-auto"
                        src="https://tailwindui.com/img/logos/workflow-mark-indigo-500.svg" alt="Workflow">
                    <img class="hidden lg:block h-8 w-auto"
                        src="https://tailwindui.com/img/logos/workflow-logo-indigo-500-mark-white-text.svg"
                        alt="Workflow">
                </div>
                <div class="hidden sm:block sm:ml-6">
                    <div class="flex space-x-4">
                        <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                        <a href="#" routerLink="/covers" class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium"
                            aria-current="page">View Covers</a>

                        <a href="#" routerLink="/covers/add"
                            class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Add Cover</a>

                        <a href="#" [hidden]="!authService.isLoggedIn" routerLink="/covers/uploaded"
                            class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">My Covers</a>

                        <a href="#" routerLink="/users"
                            class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Users</a>
                    </div>
                </div>
            </div>
            <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                <div class="ml-3 relative" [hidden]="authService.isLoggedIn">
                    <div class="flex space-x-4">
                        <a href="#" routerLink="/login" class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium"
                            aria-current="page">Sign In</a>
                    </div>
                </div>

                <div class="ml-3 relative" [hidden]="authService.isLoggedIn">
                    <div class="flex space-x-4">
                        <a href="#" routerLink="/signup" class="bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium"
                            aria-current="page">Sign Up</a>
                    </div>
                </div>

                <a href="#" routerLink="/users/me" *ngIf="authService.isLoggedIn"
                    class="text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium">Logged in as {{getUser().userName}}</a>

                <div class="ml-3 relative" [hidden]="!authService.isLoggedIn">
                    <div class="flex space-x-4">
                        <a href="#" (click)="logout()" class="bg-transparent hover:bg-red-400 text-white px-3 py-2 rounded-md text-sm font-medium"
                            aria-current="page">Log Out</a>
                    </div>
                </div>


            </div>
            <button class="px-4 py-2 font-semibold text-sm bg-red-500 text-white rounded-full shadow-sm ml-2 hover:bg-red-400">Alpha</button>
        </div>
    </div>

</nav>