<div class="shadow-md rounded px-8 pb-8 prose prose-lg h-full" style="background-color: var(--light-blue);">
    <h2 class="text-center">Welcome to Sounds of Teyvat!</h2>

    <p>
        This is a web application that allows you to create and share Genshin Impact music covers.
    </p>

    <p>
        Covers can be uploaded for the Windsong Lyre and the Guitar. Users can upload unlimited covers.
        You must have permission to upload the cover.
    </p>

    <p>
        Users can upvote/downvote covers. Comments can also be made. Happy listening!
    </p>
</div>